/* main css based on bootstrap*/
body {
    background: transparent url("../images/slogan.png") no-repeat fixed center;
    /* open this if use navbar-fixed-top */
    padding-top: 100px;
}

.slogan {
    padding-top: 30%;
}

/* required when use fixed navbar */
.nav-menu {
    color: rgba(65, 163, 23, 0.8);
    font-size: 14px;
    font-weight: normal;
    margin: 12px 0 0 0;
}

.nav-q {
    margin: 20px 0 0 0;
}

.nav-q-input {
    width: 400px;
}

.sm-text {
    font-size: 11px;
    font-weight: normal;
    color: #666;
}